/* @override http://localhost/bxslider_v3_plugin/css/styles.css */

/*
 * To change the color scheme of slider change each 
 * background property for each of the five styles below
 */

/*next button*/
.bx-next {
	position:absolute;
	bottom:0;
	right:0;
	z-index:5;
	width: 8px;
	height: 12px;
	text-indent: -999999px;
	background: url(../images/slider_prev_next_green.png) no-repeat -8px 0px;
}
/*previous button*/
.bx-prev {
	position:absolute;
	bottom:0;
	left:0px;
	z-index:8;
	width: 8px;
	height: 12px;
	text-indent: -999999px;
	background: url(../images/slider_prev_next_green.png) no-repeat 0 0px;
}
/*pager links*/
.bx-pager a {
	margin-right: 5px;
	color: #000;
	text-indent:-10000px;
	display:inline-block;
	width: 8px;
	height:8px;
	background: url(../images/gray_pager.png) no-repeat 0 0px;
}
/*auto start button*/
.bx-auto .start {
	padding-left: 13px;
}
/*auto stop button*/
.bx-auto .stop {
	padding-left: 13px;
}
/*
 * End color scheme styles
 */


/*next/prev button hover state*/
.bx-next:hover {
	background-position: -8px -12px;
}
.bx-prev:hover {
	background-position: 0 -12px;
}
/*pager links hover and active states*/
.bx-pager a.pager-active {
	background-position: 0 -8px;
}
/*pager wrapper*/
.bx-pager {
	text-align:center;
	padding-top: 7px;
	font-size:12px;
	color:#666;
}
/*captions*/
.bx-captions {
	text-align:center;
	font-size: 12px;
	padding: 7px 0;
	color: #666;
}
/*auto controls*/
.bx-auto {
	text-align: center;
	padding-top: 15px;
}
.bx-auto a {
	color: #666;
	font-size: 12px;
}
.working-wrapper .bx-next {
	position:absolute;
	top:95%;
	right:0px;
	z-index:5;
	width: 8px;
	height: 12px;
	text-indent: -999999px;
	background: url(../images/slider_prev_next.png) no-repeat -8px 0;
}
.working-wrapper .bx-prev {
	position:absolute;
	top:95%;
	left:-0px;
	z-index:9;
	width: 8px;
	height: 12px;
	text-indent: -999999px;
	background: url(../images/slider_prev_next.png) no-repeat 0 0;
}
